<h1>New Reader Card</h1>

<%= form_with model: @reader_card, local: true do |form| %>
  <% if @reader_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reader_card.errors.count, "error") %> prohibited this reader card from being saved:</h2>

      less

      <ul>
        <% @reader_card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

  <% end %>
  <div class="form-group">
    <%= form.label :number %>
    <%= form.text_field :number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :library_id %>
    <%= form.collection_select :library_id, Library.all, :id, :name, {}, class: "form-control" %>
  </div>

  <%= form.submit 'Create Reader Card', class: "btn btn-primary" %>
  <%= link_to 'Back', reader_cards_path, class: "btn btn-secondary" %>
<% end %>